
listen              "{{ server.portone }}";
max_connections     "{{ server.maxconnection }}";
daemon              off;
srs_log_tank        console;
http_server {
    enabled         on;
    listen          "{{ server.porttwo }}";
}
vhost __defaultVhost__ {
    hls {
        enabled         "{{ type.hls }}";
    }
}

