
listen              "{{ server.port-one }}";
max_connections     "{{ server.maxconnection }}";
daemon              off;
srs_log_tank        console;

http_server {
    enabled         on;
    listen          "{{ server.port-three }}";
    dir             ./objs/nginx/html;
}

http_api {
    enabled         on;
    listen          "{{ server.port-three }}";
}
stats {
    network         0;
}
rtc_server {
    enabled "{{ type.rtc }}";
    listen "{{ server.port-four }}"; # UDP port
    # @see https://github.com/ossrs/srs/wiki/v4_CN_WebRTC#config-candidate
    candidate $CANDIDATE;
}

vhost __defaultVhost__ {
    rtc {
        enabled     "{{ type.rtc }}";
        # @see https://github.com/ossrs/srs/wiki/v4_CN_WebRTC#rtmp-to-rtc
        rtmp_to_rtc "{{ type.rtmp2rtc }}";
        # @see https://github.com/ossrs/srs/wiki/v4_CN_WebRTC#rtc-to-rtmp
        rtc_to_rtmp "{{ type.rtc2rtmp }}";
    }
    http_remux {
        enabled     on;
        mount       [vhost]/[app]/[stream].flv;
    }
}

